.registration--box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d0d0d0;
    z-index: 9999;
}
.registration {
    position: relative;
    display: grid;
    grid-template-rows: 100px 60px 60px 75px;
    width: 225px;
    height: 350px;
    border-radius: 10px 10px 100px 100px;
    background-color: #fcfcfcfc;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding-bottom: 20px;
    box-shadow: 0 0 20px 4px #0000001c;
}
.registration--logo {
    width: 50px;
    position: absolute;
    top: -25px;
}
.registration p {
    padding-top: 60px;
    color: #a25fce;
}
.registration--user_name,
.registration--password {
    color: black;
    border: none;
    transition: all 0.05s linear;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    width: 170px;
    background-color: #d0d0d0;
    z-index: 99999;
}
#registrationButton {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    border: none;
    background-color: #a25fce;
    color: #fcfcfcfc;
    z-index: 9999;
    transition: background-color 0.1s linear;
    outline: none;
}
#registrationButton:hover {
    cursor: pointer;
    background-color: #7e48a1;
}
.echo {
    animation: echo 2s linear;
    animation-iteration-count: infinite;
    position: absolute;
    bottom: 55px;
    z-index: 99 !important;
    cursor: default !important;
}
@keyframes echo {
    0% {
        transform: scale(0);
        background-color: #a25fce81;
    }
    100% {
        transform: scale(4);
        background-color: #d0d0d000;
    }
}
