/*--SEARCH-TASK--*/
.search_task {
    display: flex;
    padding-top: 15px;
    width: 280px;
}
.search_task--input {
    height: 40px;
    width: 200px;
    padding-left: 12px;
    border: none;
    outline: none;
    box-sizing: border-box;
    border-radius: 10px 0 0 10px;
}
.search_task--button {
    width: 80px;
    height: 40px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 0 10px 10px 0;
    background: #69c480;
    color: #fcfcfc;
}
.filter_task {
    width: 280px;
    display: flex;
    padding-top: 25px;
    align-items: center;
}
#filter {
    margin-left: 10px;
    font-size: 18px;
    background-color: #ffc107;
    color: #fcfcfc;
    padding: 5px 10px;
    border-radius: 25px;
}
#filter:hover {
    cursor: pointer;
    background-color: #a35dab;
    transition: all 0.1s linear;
}
/* ----MY-TASKS--- */
.my_tasks::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
.my_tasks::-webkit-scrollbar-button {
    background-color: #a25fce;
}
.my_tasks::-webkit-scrollbar-track {
    background-color: #d0d0d0;
}
.my_tasks::-webkit-scrollbar-track-piece {
    background-color: #d0d0d0;
}
.my_tasks::-webkit-scrollbar-thumb {
    height: 5px;
    background-color: #a25fce;
    border-radius: 3px;
}
.my_tasks::-webkit-scrollbar-corner {
    background-color: #d0d0d0;
}
.my_tasks::-webkit-resizer {
    background-color: #a25fce;
}
.filter_task p,
.title_blocks1,
.title_blocks2 {
    color: rgb(90 90 90);
    font-weight: 700;
    font-size: 20px;
    text-align: left;
}
.task {
    display: grid;
    position: relative;
    height: 45px;
    max-width: 250px;
    grid-template-columns: 35px 59% 29px 25px;
    margin: 15px 0px;
    padding: 10px 0px 10px 15px;
    align-items: center;
    background-color: #fcfcfc;
    border-radius: 10px;
    box-shadow: none;
    transition: all 0.2s linear;
}
.task:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 0px #a25fce;
}
.task_text {
    border: none;
    background: none;
    color: #717171;
    cursor: pointer;
}
.task_img {
    width: 25px;
    height: 25px;
    transition: all 0.2s linear;
}
.task_img:hover {
    cursor: pointer;
}
.task--edit_btn:hover,
.task--remove_btn:hover {
    transform: scale(1.2);
}
.task_date {
    position: absolute;
    left: 10px;
    max-width: 85px;
    opacity: 0;
    color: #717171;
}
/* ----READY-TASKS---- */

/* ----ADD-TASKS---- */

.add_task--box {
    position: relative;
    width: max-content;
    margin: 25px auto;
}
#addTask {
    border: none;
    border-radius: 7px;
    height: 50px;
    width: 250px;
    padding-left: 12px;
}
.plus {
    background-color: #69c480;
    width: 75px;
    height: 75px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    font-weight: 900;
    color: #fcfcfc;
    position: absolute;
    top: -12px;
    right: -32.5px;
}
.plus:hover {
    background-color: #1bb463;
    cursor: pointer;
    transition: all 0.1s linear;
}
